.outerclass{
    margin: 4rem;
    padding: 2rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 2rem;
}
.outerclass-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-container{
    flex: 1;
    margin: auto;
    align-items: flex-start;
}
.profile{
    max-width: 14rem;
    max-height: 14rem;
    border-radius: 10%;
    border: 0.5rem solid black;
}
.text-container{
    flex:2;
}
p1{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 130%;
    color: brown;
}
.bottom{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.outer{
    margin: 0;
    padding-top: 2rem;
    @media (max-width:768px) {
        padding-top:400px;
    }
}