.container{
    margin: 5rem;
    margin-bottom: 0%;
    width: 100%;
}

.items{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin-left:15%;
    margin-right: 25%;


}

.block{
    flex: 1;
}


.empty{
    height: 40px;
    width: 100%;
    background-color: black;
}